.first-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
    max-width: 70%;
    margin: 20px auto;
    gap: 10px;
}

.second-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    max-width: 70%;
    /* margin-top: 90px; */
    /* margin: 20px auto; */
    gap: 10px;
}
.third-container {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    max-width: 70%;
    /* justify-content: center;  */
    /* width: 900px;  */
}
.last-container {
    display: flex;
    /* max-width: 70%; */
    justify-items: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: space-between; */
    width: 100%;
    height: 70px;
    background-color: aqua;
    color: rgb(151, 144, 136);
    font-size: 2rem;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: aquamarine;
    color: rgb(146, 133, 114);
    font-size: 2rem;
}
.third {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    /* width: 20%; */
    height: 400px;
    background-color: aquamarine;
    color: rgb(146, 133, 114);
    font-size: 2rem;
}
/* .fourth {
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    align-items: center;
    width: 75%;
    height: 160px;
    background-color: dodgerblue;
    color: rgb(146, 133, 114);
    font-size: 2rem;
} */
/* .fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 160px;
    background-color: rgb(9, 9, 78);
    color: rgb(146, 133, 114);
    font-size: 2rem;
} */
.sixth {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 70%; */
    /* height: 70px; */
    background-color: aqua;
    color: rgb(146, 133, 114);
    font-size: 2rem;
}