body {
    /* margin: 1rem auto;
    padding: 1rem; */
    text-align: center;
}
table,tr,th,td,caption{
    margin: 5rem auto;
    width: 60rem;
    height: 35px;
    border:1px solid #2a2424;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    
}

