@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 2;
    /* background-color: rgba(102, 38, 205,0.5); */
    /* background-color: rgba(55, 93, 219, 0.8); */
}

.container {
    background-color: #333;
    width: 50%;
    height: 900px;
    color: #fff;
    /* padding-bottom: 5rem; */
}
input {
    width: 95%;
    height: 45px;
    border-radius: 7px;
}
/* label {
    color: #fff;
}
#survey-form p {
    color: #fff;
} */
select {
    width: 95%;
    height: 45px;
    border-radius: 7px;
}