@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #fff;
    color: #272d36;
    overflow-x: hidden;
    /* min-height: 70rem; */
}
header {
    width: 100%;
    height: 6.5rem;
    background: #fff5f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 22;
    border-bottom: 0.1px solid rgba(204, 175, 175,0.7);
}
header img {
    width: 300px;
    height: 150px;
    /* padding-left: 2.5rem; */
}
/* header label {
    font-size: 2.3rem;
    font-weight: 800;
    padding-left: 2.5rem;
} */
header nav {
    display: flex;
    /* flex-basis: 35%; */
    height: fit-content;
}
header nav ul {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 30px;
    padding-right: 2rem;
}
header nav ul li {
    list-style-type: none;
}
header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #272d36;
}
header nav ul li:not(:last-child):after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fe5722;
    transition: 1s;
}
header nav ul li:hover::after {
    width: 100%;
}
.checkbtn {
    font-size: 35px;
    font-weight: 700;
    /* color: #fff; */
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check {
    display: none;
}
/* header nav ion-icon {
    font-size: 3rem;
    font-weight: 600;
    display: none;
    cursor: pointer;
} */

.btn1 {
    padding: 14px 25px;
    background: #fe5722;
    border-radius: 4px;
    color: #fff;
}
#first-section {
    background: #fff5f2;
}
.general {
    width: 100%;
    padding: 40px 0;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container,
.firstimg-div {
    margin-top: 6rem;
    width: 50%;
}
.container {
    margin: 0 2rem;
}
.firstimg-div .immg {
    margin-left: auto;
}
.firstimg-div img {
    width: 80%;
    height: auto;
    display: block;
}
.h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}
.para {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
}
#first-section .para {
    max-width: 96%;
}
.btn {
    padding: 14px 25px;
    background: #fe5722;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 20px 0;
    transition: 0.5s;
}
.btn1:hover,
.btn:hover {
    background: #6547a0;
    color: #ffff;
    transition: 0.5s ease-in-out;
    transform: scale(1.09);
}
.second-section {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    /* background-color: #6547a0; */
}
.h2 {
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.box {
    border: 1px solid #b2b2b2;
    padding: 25px 5px;
    margin: 0 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box ion-icon {
    font-size: 2.5rem;
    color: #fe5722;
    margin: 15px 0;
}

/* .box.active, */
.box:hover {
    color: #fff;
    border-color: #fe5722;
    background: #fe5722;
}  

.box:hover ion-icon {
    color: #fff;
  }
#third-section img {
    margin-right: auto;
}
#third-section p {
    font-size: 1.2rem;
}
#third-section .para {
    font-size: 2rem;
    font-weight: 500;
}
.category {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px 0;
}
.category li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
.category li.active {
    color: #fe5722;
}
.menu-container {
    padding: 0 30px;
}
.restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu-item {
    width: 260px;
    /* background-color: #6547a0; */
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
}
.menu-item img {
    width: 100%;
    height: 13rem;
    transition: 0.7s;
}
.img-outline {
    border: 0.5rem solid #fe5722;
    /* transform: scale(0.2); */
}
.user img:hover,
.img-outline img:hover {
    transform: scale(1.2);
}

.title {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
}
.location {
    font-size: 18px;
    font-weight: 500;
}
.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-menu {
    padding: 7px 10px;
    font-size: 1.1rem;
    /* text-align: center; */
    background: #fff;
    border: 1px solid #fe5722;
    color: #fe5722;
}

.fourth-section {
    width: 100%;
    padding: 40px 0;
}
#testimony .firstimg-div img {
    margin-left: auto;
}
.user {
    margin-top: 30px;
    justify-content: start;
}
.user img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    border: 0.5rem solid #fe5722;
    transition: 0.7s;
}

.name .title {
    font-size: 20px;
}
#testimony h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

#faqs {
    padding: 40px 0 0 0;
}

#faqs .h2 {
    text-align: center;
    background-color: #fe5722;
    padding: 10px 0;
    margin: 0 10px;
}

.accordion {
    margin: 60px auto;
    width: 55%;
} 
.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff5f2;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.accordion li:hover {
    background: #dfd3cf;
    color: #272d36;
    transition: 0.3s ease-in-out;
}
.accordion li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
}
.accordion li input[type="radio"] {
    display: none;
}
.accordion .content {
    color: #272d36;
    padding: 0 10px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before {
    content: '-';
}

#app {
    text-align: center;
    padding: 0 0 40px 0;
}
.big {
    font-size: 18px;
}
.app-store {
    background: #000;
    margin: 0 10px;
    padding: 4px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.app-store:hover {
    background: #323d4ff8;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}
.app-store p {
    margin-top: 8px;
}
.app-store span {
    font-size: 16px;
    line-height: 25px;
}
.app-store ion-icon {
    font-size: 30px;
    margin-right: 10px;
}
.download {
    margin: 30px 0;
}
.download a {
    text-decoration: none;
}
.footer {
    background: #272d36;
    color: #b2b2b2;
    padding: 30px 0;
}
.footer .menu-container {
    justify-content: space-between;
    align-items: flex-start;
}
.footer h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}
.footer ul {
    list-style: none;
    line-height: 30px;
    font-size: 18px;
}
  
.footer ul li {
    cursor: pointer;
}
.footer li a {
    text-decoration: none;
    color: #b2b2b2;
}
  
.footer-about {
    width: 35%;
}
.copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b2b2b2;
}
@media (max-width:1250px){
    #first-section {
        padding: 80px 0;
    }
}
/* @media (max-width: 1215px){
    header nav ul li a {
        font-size: 1rem;
    }
} */
@media (max-width:1180px) {
    #first-section {
        padding: 120px 0;
    }
}
@media (max-width: 1060px) {
    .checkbtn {
        left: -140px;
        display: block;
        color: #fe5722;
    }

    /* header nav ul {
        position: fixed;
        flex-direction: row;
        gap: 15px;
        background-color: #fe5722;
        width: 300px;
        height: 50vh;
        right: -50%;
        top: -55%;
        transition: ease-in-out 2s;
        justify-content: center;
    } */
    
    header nav ul {
        position: fixed;
        flex-direction: column;
        width: 30%;
        height: 50vh;
        /* top: -80px; */
        right: -100%;
        top: 80px;
        transition: ease-in-out 1s;
        text-align: center;
        /* justify-content: center; */
        background: #fff5f2;
    }
    header nav ul li {
        display: block;
        /* margin: 50px 0; */
        /* line-height: 0; */
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    /* nav:hover {
        right: 0;
        top: 0;

    } */
    /* header nav ul li a:hover {
      background: none;
      color: #fe5722;
    } */
    #check:checked ~ ul {
        right: 0;
        /* top: 0; */
    }
    .footer-about {
        width: 100%;
        text-align: center;
    }

    .quick-links,
    .get-in-touch,
    .footer-category {
        display: none;
    }
}

/*

@media (max-width: 1215px){
    header nav ion-icon{
        display: block;
        cursor: pointer;
    }
   
} */



@media (max-width:950px) {
    #first-section,
    #third-section .section,
    .fourth-section .section,
    #app .section {
        flex-direction: column;
    }
    .container,
    .firstimg-div {
        width: 90%;
    }
    .user.section {
        width: fit-content;
    }
    .app-store {
        margin: 5px 0;
    }
    
}
@media (max-width:865px) {
    /* .restaurant-menu {
        display: grid;
        grid-template-columns: repeat(1fr);
    } */
    .restaurant-menu {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    #first-section {
        margin-top: 80px;
    }
    
    #first-section .text {
        margin-left: auto;
    }
    
    .section {
        flex-direction: column;
    }
    
    .firstimg-div,
    .container {
        width: 70%;
        margin: 15px auto;
        text-align: center;
    }
    
    .download,
    .user {
        flex-direction: row;
    }
    
    .user {
        justify-content: center;
    }
    
    .firstimg-div img {
        margin: 0 auto;
    }
    
    .box {
        margin: 15px 0;
    }
    
    
    /* .faq, */
    .menu-item {
        width: 80%;
    }
    
    .h1 {
        font-size: 56px;
    }
    
    .h2 {
        font-size: 40px;
    }
    
    .para {
        font-size: 20px;
    }
    
    .footer-about {
        width: 100%;
        text-align: center;
    }
    
    .quick-links,
    .get-in-touch,
    .footer-category {
        display: none;
    }
} 
@media (max-width: 680px) {
    .general {
      padding: 0 10px;
    }
  
    .container,
    .firstimg-div {
      width: 90%;
    }
  
    .restaurant-menu {
      grid-template-columns: 1fr;
    }
  
    .app-store {
      margin: 10px 0;
    }
  
    .download {
      flex-direction: column;
    }
  
    .h1 {
      font-size: 48px;
    }
  
    .h2 {
      font-size: 32px;
    }
  
    .para {
      font-size: 17px;
    }
}
@media (max-width:905px) {
   header nav ul {
    width: 40%;
    height: 50vh;
   }
}
@media (max-width:565px) {
    header nav ul {
        width: 55%;
    }
}
@media (max-width:450px) {
    header img {
        width: 200px;
        height: 150px;
    }
}