* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    padding: 1rem;
    margin: 1rem;
    min-height: 1500px;
    font-family: sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
img {
    width: 350px;
}
.nav-bar {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    padding-top: 30px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(38, 182, 110);
}
.btn {
    text-decoration: none;
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: rgb(38, 182, 110);
    color: #fff;
    padding: 0.6rem 0.7rem;
    margin-left: 35px;
    padding-bottom: 20px;
    border-radius: 12px;
    font-size: 1.1em;
}
a:hover {
    color: mediumblue;
    transition: 1s;
}
.btn:hover {
    background-color: darkgreen;
    color: #fff;
    transition: 1s;
}
.img {
    padding-top: 45px;
    width: 100%;
    min-height: 900px;
    max-height: 1100px;
}