* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 1000px;
}
/* .div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition-property: width ;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: linear;
} 
 div:hover {
    width: 500px;
    height: 500px;
} */
/* img {
    width: 300px;
    height: 300px;
    background-color: red;
    transition-property: width ;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}
img:hover {
    width: 500px;
    height: 500px;
}  */
.box {
    width: 500px;
    height: 100px;
    margin: 2rem;
}
.box1 {
    background-color: green;
    transition-property: width ;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.box1:hover {
    width: 800px;
}
.box2 {
    background-color: green;
    transition-property: width ;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.box2:hover {
    width: 800px;
}
.box3 {
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
.box3:hover {
    width: 800px;
}
.box4 {
    background-color: green;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.box4:hover {
    width: 800px;
}
.box5 {
    background-color: green;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.box5:hover {
    width: 800px;
}
.box6 {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    transition: background-color;
    transition-delay: 2s; 
    transition: width 2s, height 2s, transform 2s; 
}
.box6:hover {
    background-color: black;
    transform: rotate(-180deg);
    width: 400px;
    height: 400px;
}
.box7 {
    background-color: red;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.box7:hover {
    background-color: burlywood;
}